<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Bienvenido a la prueba tecnica de MetNet</span>
</div>

<div class="content" role="main">

  <!--Offer -->

  <div class="card-container">
    <div class="example-container">
      <mat-card>
        <form>

          <mat-form-field appearance="fill">
            <select name="select" >
              <option *ngFor="let oferta of Ofertas" >{{oferta.id}}</option>
            </select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <h4>ID Oferta :</h4>
            <mat-label>ID Oferta:</mat-label>
            <input matInput placeholder="ID oferta">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <h4>Nombre :</h4>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre">
          </mat-form-field>

        </form>
      </mat-card>
    </div>
  </div>
  <div class="card-container">
    <!--Characteristics -->
    <div class="example-container">
      <mat-card>
        <h3>Characteristics</h3>
        <table [border]>
          <tr>
            <th>Caracteristicas</th>
          </tr>
          <tr>
            <td>Celda 1</td>
          </tr>
        </table>
        <!--
        <table mat-table class="mat-elevation-z8">
          <ng-container matColumnDef="caracteristicas">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      -->
      </mat-card>
    </div>

    <!--Prices -->
    <div class="example-container">
      <mat-card>
        <h3>Prices</h3>
        <table [border]>
          <tr>
            <th>Nombre Precio</th>
            <th>Monto</th>
          </tr>
          <tr>
            <td>Celda 1</td>
            <td>celda 2</td>
          </tr>
        </table>
        <!--
        <table mat-table class="mat-elevation-z8">
          
          <ng-container matColumnDef="nombrePrecio">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table> -->
      </mat-card>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
